@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inconsolata", monospace;
  color: #333;
  margin: 20px 24px;
}

header {
  font-size: 24px;
  font-weight: 700;
}
